@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

.page {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  background-color: #202020;
}

.section {
  margin: 0 auto;
  max-inline-size: 768px;
}

.calculator__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.title {
  color: #9AF606;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.description {
  font-size: 24px;
  font-weight: 400;
  color: #9AF606;
  text-align: center;
}

.calculator_result {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #9AF606;
}

.calculator__input-container {
  display: flex;
  align-items: center;
  gap: 15px;
  inline-size: 160px;
}

.calculator__input-radio {
  inline-size: 25px;
  block-size: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: 5px solid #fff;
  transition: .3s;
}

.calculator__input-radio:checked {
  background-color: #9AF606;
}

.calculator__input-number {
  block-size: 40px;
  inline-size: 150px;
  border: none;
  background-color: #2a2a2a;
  color: #fff;
  padding: 5px 10px;
  border-block-end: 1px solid transparent;
  transition: .3s;
}

.calculator__input-number:active {
  outline: none;
}

.calculator__input-number:focus {
  outline: none;
  border-block-end: 1px solid #9AF606;
}

.calculator__input-number:focus-visible {
  outline: none;
}

.calculator__button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #9AF606;
  color: #202020;
  font-weight: 700;
  border: 1px solid #9AF606;
  transition: .3s;
}

.calculator__button:hover {
  background-color: transparent;
  color: #9AF606;
}


/* #9AF606 */
/* #202020 */